<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  By <a href="mailto:team.froyo.tamu@gmail.com">Team Froyo</a>:
  <div style="padding:10px">
  Mengnan Du<br/>
  Hang Li<br/>
  Hanzi Mao<br/>
  Matthew Roe<br/>
  Qingquan Song<br/>
  Jason Wang<br/>
  </div>
</p>