<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Us:
  <a href="mailto:team.froyo.tamu@gmail.com">Team Froyo</a><br />
  Bug Report:
  <a href="mailto:hangli@tamu.com">hangli@tamu.com</a>
</p>