<div class="center jumbotron">
  <h1>Welcome to CSCE 625<br />Student Self-Evaluation Exam</h1>

  <h2>
    Evaluation won't be recorded.
  </h2>

  <%= link_to "Start Evaluation!", quiz_path, class: "btn btn-lg btn-primary" %><br /><br />

</div>
