<div class="center jumbotron">
  <h1>Welcome to CSCE 625 Student Self-Evaluation Exam</h1>

  <h2>
    Instruction here.
  </h2>

  <%= link_to "Start Evaluation!", quiz_path, class: "btn btn-lg btn-primary" %><br /><br />
  
  <%= link_to "Instructor sign up", signup_path %>
</div>
