<li>
  <ul class="ul_two">
    <li><%= link_to topic.name, topic %></li>
    <li><%= link_to "edit", edit_topic_path(topic) %></li>
    <li><%= link_to "delete", topic, method: :delete,
                    data: {confirm: "You sure?"} %></li>
  </ul> 
</li>