<% provide(:title, 'All topics') %>
<h1>All topics</h1>

<h2><%= link_to "Create new topic", new_topic_path %></h2>

<%= will_paginate %>

<ul class="topics">
  <% @topics.each do |topic| %>
    <%= render topic %>
  <% end %>
</ul>

<%= will_paginate %>