<li id="problem-<%= problem.id %>">
  <span class="topic"><%= link_to problem.topic.name, problem.topic %></span>
  <span class="question"><%= link_to problem.question, problem %></span>
  <span class="question"><%= link_to "Delete", problem, method: :delete,
                data: {confirm: "Are you sure to delete this problem?"} %></span>
</li>