<% provide(:title, @instructor.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @instructor.name %>
      </h1>
      
        <%= @instructor.email %>
    </section>
  </aside>
</div>